---

interface Props {
  name: string,
  address: string,
  email: string,
  city: string,
  zip: string,
  date: string,
  time: string,
  phone: string,
  people: string,
  service: string,
  order: string,
  requests?: string,
}

const { name, address, email, city, zip, date, time, phone, people, service, order, requests } = Astro.props;

---

<section class="container catering grid grid-cols-24 gap-4 py-10">
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Name: {name}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Event Address: {address}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Email: {email}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">City: {city}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Zip: {zip}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Date: {date}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Time: {time}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Phone: {phone}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">People: {people}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Service: {service}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Order: {order}</p>
    <p class="col-span-22 col-start-2 lg:col-span-10 lg:col-start-2 xl:col-start-0 mt-4 uppercase">Special Requests: {requests}</p>
</section>
